# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'proto-repl'
      'submenu': [
        {'label': 'Execute Block', 'command': 'proto-repl:execute-block'}
        {'label': 'Load File', 'command': 'proto-repl:load-current-file'}
      ]
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'proto-repl'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'proto-repl:toggle'
        }
      ]
    ]
  }
]
