;; Analyzed by ClojureScript 1.7.228
{:name clojure.core.rrb-vector.interop, :doc nil, :excludes #{}, :use-macros nil, :require-macros nil, :uses {-as-rrbt clojure.core.rrb-vector.rrbt, -slicev clojure.core.rrb-vector.protocols, PSliceableVector clojure.core.rrb-vector.protocols, -splicev clojure.core.rrb-vector.protocols, PSpliceableVector clojure.core.rrb-vector.protocols}, :requires {clojure.core.rrb-vector.protocols clojure.core.rrb-vector.protocols, clojure.core.rrb-vector.rrbt clojure.core.rrb-vector.rrbt}, :imports nil}