# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth

## Common key bindings for every OS.

'atom-workspace atom-text-editor:not([mini])':

  'ctrl-alt-, l': 'proto-repl:toggle'
  'ctrl-alt-, shift-l': 'proto-repl:toggle-current-project-clj'
  'ctrl-alt-, j': 'proto-repl:start-self-hosted-repl'
  'ctrl-alt-, y': 'proto-repl:remote-nrepl-connection'
  'ctrl-alt-, e': 'proto-repl:exit-repl'
  'ctrl-alt-, k': 'proto-repl:clear-repl'
  'ctrl-alt-< s': 'proto-repl:toggle-auto-scroll'
  'ctrl-alt-, b': 'proto-repl:execute-block'
  'ctrl-alt-, B': 'proto-repl:execute-top-block'
  'ctrl-alt-, s': 'proto-repl:execute-selected-text'
  'ctrl-alt-, f': 'proto-repl:load-current-file'
  'ctrl-alt-, r': 'proto-repl:refresh-namespaces'
  'ctrl-alt-< r': 'proto-repl:super-refresh-namespaces'
  'ctrl-alt-, p': 'proto-repl:pretty-print'
  'ctrl-alt-, x': 'proto-repl:run-tests-in-namespace'
  'ctrl-alt-, t': 'proto-repl:run-test-under-cursor'
  'ctrl-alt-, a': 'proto-repl:run-all-tests'
  'ctrl-alt-, d': 'proto-repl:print-var-documentation'
  'ctrl-alt-, c': 'proto-repl:print-var-code'
  'ctrl-alt-, n': 'proto-repl:list-ns-vars'
  'ctrl-alt-< n': 'proto-repl:list-ns-vars-with-docs'
  'ctrl-alt-, o': 'proto-repl:open-file-containing-var'
  'ctrl-shift-c': 'proto-repl:interrupt'
  'shift-enter': 'proto-repl:execute-text-entered-in-repl'
  'ctrl-alt-< i': 'proto-repl:insert-save-value-call'
  'ctrl-alt-< d': 'proto-repl:display-saved-values'
  'ctrl-alt-< c': 'proto-repl:clear-saved-values'

  # Legacy keybindings.
  # The keybindings were all originally ctrl-, but this had conflicts on Linux
  # and windows with preferences so it was changed to ctrl-alt-, The original
  # ones are left here for now so as not to break existing users methods.
  'ctrl-, l': 'proto-repl:toggle'
  'ctrl-, shift-l': 'proto-repl:toggle-current-project-clj'
  'ctrl-, j': 'proto-repl:start-self-hosted-repl'
  'ctrl-, y': 'proto-repl:remote-nrepl-connection'
  'ctrl-, e': 'proto-repl:exit-repl'
  'ctrl-, k': 'proto-repl:clear-repl'
  'ctrl-< s': 'proto-repl:toggle-auto-scroll'
  'ctrl-, b': 'proto-repl:execute-block'
  'ctrl-, B': 'proto-repl:execute-top-block'
  'ctrl-, s': 'proto-repl:execute-selected-text'
  'ctrl-, f': 'proto-repl:load-current-file'
  'ctrl-, r': 'proto-repl:refresh-namespaces'
  'ctrl-< r': 'proto-repl:super-refresh-namespaces'
  'ctrl-, p': 'proto-repl:pretty-print'
  'ctrl-, x': 'proto-repl:run-tests-in-namespace'
  'ctrl-, t': 'proto-repl:run-test-under-cursor'
  'ctrl-, a': 'proto-repl:run-all-tests'
  'ctrl-, d': 'proto-repl:print-var-documentation'
  'ctrl-, c': 'proto-repl:print-var-code'
  'ctrl-, n': 'proto-repl:list-ns-vars'
  'ctrl-< n': 'proto-repl:list-ns-vars-with-docs'
  'ctrl-, o': 'proto-repl:open-file-containing-var'
  'ctrl-< i': 'proto-repl:insert-save-value-call'
  'ctrl-< d': 'proto-repl:display-saved-values'
  'ctrl-< c': 'proto-repl:clear-saved-values'

## Mac Specific Keybindings
'.platform-darwin atom-workspace atom-text-editor:not([mini])':
  'cmd-alt-l': 'proto-repl:toggle'
  'cmd-alt-shift-l': 'proto-repl:toggle-current-project-clj'
  'cmd-alt-j': 'proto-repl:start-self-hosted-repl'
  'cmd-alt-y': 'proto-repl:remote-nrepl-connection'
  'cmd-alt-shift-s': 'proto-repl:toggle-auto-scroll'
  'cmd-alt-b': 'proto-repl:execute-block'
  'cmd-alt-shift-b': 'proto-repl:execute-top-block'
  'cmd-alt-s': 'proto-repl:execute-selected-text'
  'cmd-alt-shift-f': 'proto-repl:load-current-file'
  'cmd-alt-r': 'proto-repl:refresh-namespaces'
  'cmd-alt-shift-r': 'proto-repl:super-refresh-namespaces'
  'cmd-alt-p': 'proto-repl:pretty-print'
  'cmd-alt-x': 'proto-repl:run-tests-in-namespace'
  'cmd-alt-t': 'proto-repl:run-test-under-cursor'
  'cmd-alt-a': 'proto-repl:run-all-tests'
  'cmd-alt-d': 'proto-repl:print-var-documentation'
  'cmd-alt-c': 'proto-repl:print-var-code'
  'cmd-alt-n': 'proto-repl:list-ns-vars'
  'cmd-alt-shift-n': 'proto-repl:list-ns-vars-with-docs'
  'cmd-alt-o': 'proto-repl:open-file-containing-var'

  # Save and recall beta keybindings
  'alt-shift-i': 'proto-repl:insert-save-value-call'
  'alt-shift-d': 'proto-repl:display-saved-values'
  'alt-shift-c': 'proto-repl:clear-saved-values'

# Fixes enter in the atom ink console. Lisp Paredit can cause problems
'.platform-win32 ink-console atom-text-editor[data-grammar~="clojure"],
 .platform-linux ink-console atom-text-editor[data-grammar~="clojure"],
 .platform-darwin ink-console atom-text-editor[data-grammar~="clojure"]':
  'enter': 'editor:newline'

# Nrepl connection dialog keybindings
'atom-workspace .proto-repl.proto-repl-nrepl-connection-dialog':
  'tab': 'proto-repl:remote-nrepl-focus-next'
