# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth

## Common key bindings for every OS.

'.workspace .editor:not(.mini)':
  'ctrl-, l': 'proto-repl:toggle'
  'ctrl-, e': 'proto-repl:exit-repl'
  'ctrl-, k': 'proto-repl:clear-repl'
  'ctrl-< s': 'proto-repl:toggle-auto-scroll'
  'ctrl-, b': 'proto-repl:execute-block'
  'ctrl-, B': 'proto-repl:execute-top-block'
  'ctrl-, s': 'proto-repl:execute-selected-text'
  'ctrl-, f': 'proto-repl:load-current-file'
  'ctrl-, r': 'proto-repl:refresh-namespaces'
  'ctrl-< r': 'proto-repl:super-refresh-namespaces'
  'ctrl-, p': 'proto-repl:pretty-print'
  'ctrl-, x': 'proto-repl:run-tests-in-namespace'
  'ctrl-, t': 'proto-repl:run-selected-test'
  'ctrl-, a': 'proto-repl:run-all-tests'
  'ctrl-, d': 'proto-repl:print-var-documentation'
  'ctrl-, c': 'proto-repl:print-var-code'
  'ctrl-, n': 'proto-repl:list-ns-vars'
  'ctrl-< n': 'proto-repl:list-ns-vars-with-docs'
  'ctrl-, o': 'proto-repl:open-file-containing-var'
  'ctrl-shift-c': 'proto-repl:interrupt'

## Mac Specific Keybindings
'.platform-darwin .workspace .editor:not(.mini)':
  'cmd-alt-l': 'proto-repl:toggle'
  'cmd-alt-shift-s': 'proto-repl:toggle-auto-scroll'
  'cmd-alt-b': 'proto-repl:execute-block'
  'cmd-alt-shift-b': 'proto-repl:execute-top-block'
  'cmd-alt-s': 'proto-repl:execute-selected-text'
  'cmd-alt-shift-f': 'proto-repl:load-current-file'
  'cmd-alt-r': 'proto-repl:refresh-namespaces'
  'cmd-alt-shift-r': 'proto-repl:super-refresh-namespaces'
  'cmd-alt-p': 'proto-repl:pretty-print'
  'cmd-alt-x': 'proto-repl:run-tests-in-namespace'
  'cmd-alt-t': 'proto-repl:run-selected-test'
  'cmd-alt-a': 'proto-repl:run-all-tests'
  'cmd-alt-d': 'proto-repl:print-var-documentation'
  'cmd-alt-c': 'proto-repl:print-var-code'
  'cmd-alt-n': 'proto-repl:list-ns-vars'
  'cmd-alt-shift-n': 'proto-repl:list-ns-vars-with-docs'
  'cmd-alt-o': 'proto-repl:open-file-containing-var'
