// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

// Hightlights blocks that are executed.
// Based on https://github.com/richrace/highlight-selected
:host, atom-text-editor, atom-text-editor::shadow {
  atom-text-editor .highlight.block-execution .region {
    position: absolute;
    pointer-events: none;
    z-index: -1;
  }

  .highlights {
    .block-execution .region {
      background-color: rgba(155, 149, 0, 0.6);
    }
  }
}

// Configures inline results using mono-space fonts and sets the width to a bit
// wider than atom ink specifies
.proto-repl.ink.inline.result {
  font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  max-width: 700px;

  .header.gutted{
    .text {
      margin-right: 50px;
    }
  }

  .header.gutted:hover {
    background: rgba(134, 128, 36, 0.2);
  }

  .leaf{
    .text{
      margin-right: 50px;
    }
  }

  .leaf:hover {
    background: rgba(134, 128, 36, 0.2);
  }

  // Def button that sets multiple vars.
  .def-saved-vars {
    line-height: 1.4em;
    margin-top: 2px;
    float: right;
    z-index: 10;
    position: relative;
  }

  .def-saved-vars:hover {
    background-image: linear-gradient(#4278E4, #365DAB);
  }

  // highlight color when a def button is clicked
  .clicking-btn {
    background: #FFFF0A;
  }
  .clicking-btn:hover {
    background: #FFFF0A;
  }

  // Def button that setsjust one var.
  .def-saved-var{
    line-height: 1.4em;
    margin-top: 2px;
    float: right;
    z-index: 10;
    position: relative;
  }

  .def-saved-var:hover {
    background-image: linear-gradient(#4278E4, #365DAB);
  }
}
